<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" context="IE-edge">
        <meta name="viewport" content="width-device-width,inital-scale=1.0">
        <title>
            Text-utils
        </title>
    </head>
    <body>
        <h2>Rhis is text analyzer</h2>
        <h4>Enter your text</h4>
        <li >
            <ul> Name </ul>
            <ul> Number</ul>
            <ul> Seats</ul>
            <ul> Price</ul>
        </li>
        
    </body>
</html>